<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/all.css" rel="stylesheet" />
</head>
<body class="bg-dark">


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:#fff;">&copy; @DateTime.Now.Year - Sistema hecho por Héctor de León - <a target="_blank" href="http://www.hdeleon.net">www.hdeleon.net</a></p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/sb-admin.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
