
@{
    ViewBag.Title = "Clientes";
}

<h2>@ViewBag.Title</h2>


@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <input type="button" value="Nuevo cliente" class="btn btn-primary" onclick="jsOpenNew();" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">

        <div class="card-header">
            <i class="fas fa-table"></i>
            @ViewBag.Title
        </div>
        <div class="card-body">
            <table id="table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Nombre comercial</th>
                        <th>RFC</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Nombre comercial</th>
                        <th>RFC</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>

<input type="hidden" name="hIdDelete" id="hIdDelete" value="" />
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de eliminar el cliente?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button onclick="jsRemove();" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
           
            table = $('#table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Content("~/Customer/Json")",
                "type": "POST",
                "datatype": "json"
            },
                "filter":false,
                "orderMulti": false,
                "pageLength": 10,

                "columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "CommercialName", "name": "CommercialName", "autoWidth": true },
                    { "data": "RFC", "name": "RFC", "autoWidth": true }
                ],
            columnDefs: [{
                targets: 0,
                visible: false
            },
              {
                  "targets": 4,
                  "responsivePriority": 1,
                  "data": null,
                  "width": "120",
                  "defaultContent": "<button title='Editar' class='btn btn-success edit'><i class='fas fa-edit'></i></button> | "
                                     + "<button data-toggle='modal' data-target='#myModal' title='Eliminar' class='btn btn-danger delete'><i class='fas fa-trash-alt'></i></button>"
              }],
            "language": {
                "lengthMenu": "@Hdeleon_Facturacion.Business.Constants.LengthMenu",
                "zeroRecords": "@Hdeleon_Facturacion.Business.Constants.ZeroRecords",
                "info": "@Hdeleon_Facturacion.Business.Constants.Info",
                "infoEmpty": "@Hdeleon_Facturacion.Business.Constants.InfoEmpty",
                "infoFiltered": "@Hdeleon_Facturacion.Business.Constants.InfoFiltered",
                "paginate": {
                    "previous": "@Hdeleon_Facturacion.Business.Constants.Previous",
                    "next":"@Hdeleon_Facturacion.Business.Constants.Next"
                }
            }
        });

        //eventos botones
        $('#table tbody').on('click', '.edit', function () {
            var data = table.row($(this).parents('tr')).data();
            document.location.href="@Url.Content("/Customer/Edit")"+ "/"+data.Id;
        });
        $('#table tbody').on('click', '.delete', function () {
            var data = table.row($(this).parents('tr')).data();
            document.getElementById("hIdDelete").value = data.Id;
           
        });
    });

    function jsOpenNew() {
        document.location.href="@Url.Content("~/Customer/Add")"
    }


    function jsRemove() {
            let Id = document.getElementById("hIdDelete").value;
            
            $.post("@Url.Content("~/Customer/Delete")", "Id=" + Id, function (data) {
               
                if (data == "1") {
                
                    table.ajax.reload();
                }
                else
                    alert(data)
                
            })

            document.getElementById("hIdDelete").value = "";
     }

    </script>
}
