@model Hdeleon_Facturacion.Models.ViewModels.ShowInvoiceViewModel
@{
    ViewBag.Title = "Información de la factura";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <input type="button" value="Regresar a mis facturas" class="btn btn-info" onclick="document.location.href='@Url.Content("~/Invoice")'" />
    </div>
    <div class="col-md-6" style="text-align:right">
        <input type="button" value="Descargar XML" class="btn btn-success" onclick="jsDownload(@Model.Id,1)" />
        <input type="button" value="Descargar PDF" class="btn btn-primary" onclick="jsDownload(@Model.Id,2)" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <iframe style="width:100%; height:60vh;" src="~/Xml/@Model.NamePdf"></iframe>
    </div>
</div>

<script>

    function jsDownload(id, Action) {

        url = "@Url.Content("~/Invoice/Download")"+"?Id=" + id + "&A=" + Action;
        window.open(url);

    }
</script>

